body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 55vw;
}

:root {
  --hair: #000;
  --lips: #b00639;
  --head-band: #486f92;
  --flowers-red: #db0038;
  --flowers-orange: #ec8800;
  --flowers-orange-light: #f3b62a;
  --flowers-orange-lighter: #fdd978;
  --earings: #8b7b05;
}
