body {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  margin: 0 auto !important;
  width: 50vw;
}

:root {
  --hair: #000;
  --lips: #b00639;
  --head-band: #486f92;
  --flower-red: #db0038;
  --flower-orange: #ec8800;
  --flower-orange-light: #f3b62a;
  --flower-orange-lighter: #fdd978;
  --earings: #8b7b05;
}

.frida-face {
  top: 10vh;
  position: relative;
}

.face {
  z-index: 1;
}

.face-part-one {
  position: absolute;
  width: 75px;
  height: 45px;
  border-radius: 100%;
  background-color: white;
  top: 150px;
}

.face-part-two {
  position: absolute;
  width: 185px;
  height: 50px;
  border-radius: 40%;
  background-color: white;
}

.left-part {
  top: 163px;
  left: -129px;
  transform: rotate(-16deg);
}

.right-part {
  top: 163px;
  left: 15px;
  transform: rotate(16deg);
}

.left-part-side {
  top: 258px;
  left: -215px;
  transform: rotate(100deg);
}

.right-part-side {
  top: 258px;
  left: 101px;
  transform: rotate(-100deg);
}

.left-part-bottom {
  top: 398px;
  left: -237px;
  transform: rotate(80deg);
  width: 236px;
}

.right-part-bottom {
  top: 398px;
  left: 72px;
  transform: rotate(-80deg);
  width: 236px;
}

.face-hide {
  position: absolute;
  width: 296px;
  height: 339px;
  background-color: white;
  top: 194px;
  left: -113px;
}

.hair-part-one {
  position: absolute;
  width: 490px;
  height: 524px;
  background-color: var(--hair);
  border-radius: 50%;
  top: 16px;
  left: -207px;
  z-index: 0;
}

.eyebrow-part-one {
  position: absolute;
  border: 16px solid;
  border-color: var(--hair) transparent transparent transparent;
  z-index: 2;
  border-radius: 50% 75% 10% 50%/70% 100% 0% 50%;
  width: 180px;
  height: 50px;
}

.eyebrow-part-two {
  position: absolute;
  border: 9px solid;
  border-color: var(--hair) transparent transparent transparent;
  z-index: 2;
  border-radius: 16% 83% 0% 0%/8% 72% 0% 0%;
  width: 122px;
  height: 28px;
  top: 14.5px;
  left: 57px;
  transform: rotate(9deg);
}

.eyebrow-left {
  position: absolute;
  top: 297px;
  left: -140px;
}

.eyebrow-right {
  position: absolute;
  top: 297px;
  left: 210px;
  transform: scaleX(-1);
}

.upper-lip-hair {
  position: absolute;
  width: 100px;
  height: 87px;
  border: 3px solid;
  border-color: var(--hair) transparent transparent transparent;
  border-radius: 95% 0% 0% 0%/95% 0% 0% 0%;
  top: 496px;
}

.lip-hair-left {
  left: -74px;
}

.lip-hair-right {
  left: 45px;
  transform: scaleX(-1);
}

.lips {
  position: absolute;
  top: 535px;
  left: -21px;
}

.upper-lip {
  position: absolute;
  width: 65px;
  height: 24px;
  border-radius: 75% 27% 9% 0%/100% 56% 1% 0;
  background-color: var(--lips);
  top: -24px;
  left: -5px;
}

.upper-lip-left {
  transform: rotate(-10deg);
}

.upper-lip-right {
  transform: rotate(10deg) scaleX(-1);
  left: 60px;
}

.hide-lip {
  position: absolute;
  border: 3px solid;
  border-color: transparent transparent var(--lips) transparent;
  width: 18px;
  height: 16px;
  border-radius: 0% 0% 70% 30%/0 0 53% 17%;
  transform: rotate(-19deg);
}

.hide-lip-left {
  top: -24px;
  left: -15px;
}

.hide-lip-right {
  top: -24px;
  left: 111px;
  transform: scaleX(-1) rotate(-19deg);
}

.lower-lip {
  position: absolute;
  width: 140px;
  height: 30px;
  border-radius: 0% 0% 50% 50%/0 0 100% 100%;
  background-color: var(--lips);
  left: -10px;
  top: -3px;
}

.earings {
  position: absolute;
  top: 505px;
  z-index: 3;
}

.earings-left {
  left: -150px;
}

.earings-right {
  left: 205px;
}

.earings-part-one {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--earings);
}

.earings-part-two {
  width: 55px;
  height: 55px;
  border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  background-color: var(--earings);
  margin-top: 10px;
  margin-left: -20px;
  transform: rotate(-45deg);
}

.part-bottom {
  margin-top: -42px;
  transform: scaleY(-1) rotate(-45deg);
}

.earings-part-three {
  width: 10px;
  height: 10px;
  background-color: var(--earings);
  border-radius: 50%;
  margin-top: 10.5px;
  margin-left: 2.8px;
}

.earings-part-four {
  width: 6px;
  height: 6px;
  background-color: var(--earings);
  border-radius: 50%;
  margin-left: 4.8px;
}

.head-band {
  position: absolute;
  top: -46px;
  left: -231px;
  width: 540px;
  height: 565px;
  z-index: -1;
  background-color: var(--head-band);
  border-radius: 50%;
}

.flower-one {
  position: absolute;
  top: 30px;
  left: 65px;
  z-index: 3;
  transform: rotate(-17deg);
}

.flower-center {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.flower-center-one {
  background-color: var(--flower-red);
}

.flower-one-color {
  background-color: var(--flower-red);
}

.petal {
  width: 50px;
  height: 50px;
  border-radius: 100% 100% 0% 100%/100% 100% 0 100%;
}

.petal-one {
  margin-top: -105px;
  margin-left: 15px;
  transform: rotate(-135deg);
}

.petal-two {
  margin-top: -27px;
  margin-left: 59px;
  transform: rotate(-75deg);
}

.petal-three {
  margin-top: -8px;
  margin-left: 59px;
  transform: rotate(-25deg);
}

.petal-four {
  margin-top: -34px;
  margin-left: 16px;
  transform: rotate(43deg);
}

.petal-five {
  margin-top: -111px;
  margin-left: -31px;
  transform: rotate(75deg) scaleX(-1);
}

.petal-six {
  margin-top: -7px;
  margin-left: -26px;
  transform: rotate(25deg) scaleX(-1);
}

.flower-two {
  position: absolute;
  top: 23px;
  left: -15px;
  z-index: 4;
}

.flower-center-two {
  background-color: var(--flower-orange);
}

.flower-two-color {
  background-color: var(--flower-orange);
}

.flower-three {
  position: absolute;
  top: 30px;
  left: 140px;
  z-index: 2;
  transform: rotate(-20deg);
}

.flower-center-three {
  background-color: var(--flower-orange-light);
}

.flower-three-color {
  background-color: var(--flower-orange-light);
}

.flower-four {
  position: absolute;
  top: 30px;
  left: -120px;
  z-index: 0;
}

.flower-center-four {
  background-color: var(--flower-orange-lighter);
}

.flower-four-color {
  background-color: var(--flower-orange-lighter);
}

.flower-five {
  position: absolute;
  left: -110px;
  z-index: 1;
  top: -40px;
  transform: rotate(-9deg);
}

.flower-center-five {
  background-color: var(--flower-red);
}

.flower-five-color {
  background-color: var(--flower-red);
}

.flower-six {
  position: absolute;
  left: 130px;
  z-index: 0;
  top: -40px;
}

.flower-center-six {
  background-color: var(--flower-orange);
}

.flower-six-color {
  background-color: var(--flower-orange);
}

.flower-seven {
  position: absolute;
  left: -28px;
  z-index: 2;
  top: -57px;
  transform: rotate(-4deg);
}

.flower-center-seven {
  background-color: var(--flower-orange-light);
}

.flower-seven-color {
  background-color: var(--flower-orange-light);
}

.flower-eight {
  position: absolute;
  left: 60px;
  z-index: 1;
  top: -55px;
}

.flower-center-eight {
  background-color: var(--flower-orange-lighter);
}

.flower-eight-color {
  background-color: var(--flower-orange-lighter);
}

.hair-part-two {
  position: absolute;
  width: 420px;
  height: 420px;
  border-radius: 50% 50% 0 50%/50%;
  left: -290px;
  z-index: -3;
  background-color: var(--hair);
  top: -2px;
  transform: rotate(54deg);
}

.hair-part-two-right {
  transform: scaleX(-1) rotate(50deg);
  left: -45px;
}

.braids {
  position: absolute;
  left: -165px;
  z-index: -3;
  transform: rotate(5deg);
}

.braid {
  background-color: var(--hair);
  position: absolute;
  border-radius: 50%;
}

.braid-one {
  width: 80px;
  height: 80px;
  top: -30px;
  left: -20px;
}

.braid-two {
  width: 120px;
  height: 120px;
  top: -20px;
  left: -85px;
}

.braid-three {
  width: 130px;
  height: 140px;
  top: 27px;
  left: -125px;
}

.braid-four {
  width: 150px;
  height: 160px;
  top: 100px;
  left: -120px;
}

.braid-five {
  width: 130px;
  height: 170px;
  top: 180px;
  left: -105px;
  transform: rotate(-20deg);
}

.braid-six {
  width: 130px;
  height: 130px;
  top: 275px;
  left: -55px;
  transform: rotate(26deg);
  border-radius: 50% 50% 0 50%/50%;
}

.braids-right {
  position: absolute;
  left: 249px;
  z-index: -3;
  transform: scaleX(-1) rotate(5deg);
}

.hide-point {
  position: absolute;
  top: 181px;
  left: 16px;
  z-index: 2;
  background-color: white;
  width: 53px;
  height: 31px;
}
